<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.baoyan1998.zhihu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_la"
        android:label="知乎"
        android:roundIcon="@mipmap/ic_la_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="知乎日报"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="知乎"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.passwordActivity" />
        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.CommentActivity" />
        <activity android:name=".ui.activity.PlActivity"></activity>
    </application>

</manifest>